package components

templ Navbar(username string, fromProtected bool) {
	<nav class="  fixed top-0 z-10">
		<div class="navbar-start">
			<a hx-swap="transition:true" class="btn btn-ghost text-xl" href="/">
				BioTrack
			</a>
		</div>
		<div class="navbar-end"></div>
	</nav>
}
