package pages

import "github.com/namishh/biotrack/views/layouts"

templ Home(fromProtected bool) {
	<section class="mx-auto w-fit flex flex-col gap-8 text-center">
		if !fromProtected {
		}
	</section>
}

templ HomeIndex(
	title,
	username string,
	fromProtected bool,
	isError bool,
	errMsgs, sucMsgs []string,
	cmp templ.Component,
) {
	@layouts.Base(title, username, fromProtected, isError, errMsgs, sucMsgs) {
		@cmp
	}
}
